<h1>Willkommen zum Schuhgeschäft</h1>

<p>Pick Das Boot that will fit on your foot</p>

<p><a href="/shoe/new">Männer / Men</a></p>
<p><a href="/shoe/new/frau">Frau / Women</a></p>
<p><a href="/shoe/new/kinder/size">Kinder / Children</a><p>