<!DOCTYPE html>
<html>
<head>
  <title>Shoe Shop</title>
  <meta charset='utf=8'>
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
<p><a href="/"><img src="/images/shoe.png"</p><br><h4>Click das boot for the route home...</h4></a>
<audio loop="loop" autoplay="autoplay" preload="metadata" controls="controls">  
  <source src="/music/anthem8bit.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<%= yield %>
<div><a href="/shoe/new/query/langauage/translator">Translator</a></div>
</body>
</html>