<h1>Order Shoes</h1>

<form action="/shoe" method='post'>

<label for=:"orderer">Orderer:</label>
<input type="text" name="orderer">

<label for="address">Address:</label>
<input type="text" name="address">

<label for="quantity">Quantity:</label>
<input type="number" name="quantity">

<label for="size">Size:</label>
<input type="number" min="7" max="11" name="size">

<input type="submit" value="Order Shoes">

</form>