body {
background-color: #4d4dff;
text-align: center;
font-family: sans-serif;
}

a {
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
}

p {
  color: #f2f2f2;
  font-size: 200%;
  text-decoration: none;
  text-align: center;
}

h1 {
  color: #ff9999;
  font-size: 200%;
  text-align: center;
}

h2 {
  color: #ff9999;
  font-size: 150%;
  text-align: center;
}

h4 {
  color: #ffff80;
  text-align: center;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 20%;
}

img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); 
}

/* visited link */
a:visited {
    color:  #ffff80;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #80ffcc;
    text-decoration: none;
}

p:link {
    color: #ffff80;
    text-decoration: none;
}

a:active {
    color: #ffff80;
    text-decoration: underline;
}

div {
    align-content: center;
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 80px;
}